/*Should contain at least one media query*/
html, body{
    background-color: #1a1a1a;
    color: #e6e6e6;
    font-family: 'roboto',Arial, sans-serif;
    font-size: 15px;
    min-width: 290px;
    display: block;
  }
  
  main{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }
  
  section>header{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #a7a7a7;
  }
  
  p{
    margin: 10px;
    padding: 5px;
  }
  
  code{
    display: block;
    margin: 5px 0 5px 35px;
    padding: 10px;
    color: grey;
    background-color: black; 
    position: sticky;
    width: 50%;
    border-radius: 5px;
  }
  
  hr{
    height: 2px;
    border-radius: 2px;
    background-color: grey;
  }
  
  nav{
    position: fixed;
    min-width: 290px;
    width: 200px;
    top: 0;
    left: 0px;
    padding: 0;
    margin:0;
    height: 100%;
    border: none;
    border-right: solid;
    border-bottom: 2px solid;
    border-color: grey;
    z-index: 1;
    font-size: 30px;
  }
  
  #navbar ul{
    list-style-type: none;
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
  }
  
  #navbar li{
    border-top: 1px solid;
    position: relative;
    width: 100%;
  }
  
  #navbar a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
  }
  
  header{
    margin: 10px;
    font-size: 1.8em;
    text-align: center;
    color: grey;
  }
  
  @media only screen and (max-width: 815px) {
    #main-doc{
      margin-left: -10px;
    }
  }
  