*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ececec;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    max-height: 100px;
    width: 100%;
    justify-content: space-between;
  }
  
  .headerImg-container{
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  #header-img{
    height: 90px;
  }
  
  #nav-bar{
    margin-left: auto;
  }
  
  nav > ul{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
  }
  
  ul{
    list-style-type: none;
     white-space: no-wrap;
  }
  
  li{
    padding: 40px;
    cursor: pointer;
  }
  
  nav > ul > li:hover{
    color: red;
    text-decoration: underline;
  }
  
  .landing-page{
    margin-top: 15px;
    width: 100%;
    max-width: 1500px;
    padding: 20px;
  }
  
  h1{
    text-align: center;
    padding: 25px;
  }
  
  #video-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100px;
    margin-top: 100px;
  }
  
  .video-wrapper {
    width: 100%;
    max-width: 800px;
  }
  
  
  #video {
    width: 100%;
    height: 350px; 
    max-width: 800px;
  }
  
  #new-cars{
    border-bottom: solid 1px grey;
  }
  
  #used-cars{
    border-bottom: solid 1px grey;
  }
  
  .car_card{
    border: solid 2px grey;
    max-width: 500px;
    padding: 1px;
    margin: 1px;
  }
  
  .car_card img{
    width: 100%;
    border-bottom: solid;
  }
  
  .price_style{
    border-bottom: solid 1px grey;
  }
  
  #email-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    main {
      padding-top: 10px;
    }
  
    header {
      flex-direction: column;
      align-items: center;
      max-height: 150px;
    }
  
    .headerImg-container {
      justify-content: center;
      margin-bottom: 10px;
    }
  
    #header-img {
      height: 70px;
    }
  
    nav > ul {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-link {
      padding: 10px;
    }
  
    .landing-page {
      padding: 15px;
    }
  
    #video-holder {
      margin-top: 80px;
    }
  
    #video {
      height: 250px;
    }
  
    .car_card {
      max-width: 100%;
    }
  
    #email-input {
      padding: 15px;
    }
  }  

  /* Media query for screens smaller than 600px  */
@media screen and (max-width: 600px) {
  header {
    height: 60px;
    padding: 10px;
  }

  #navbar > ul > li {
    font-size: 16px;
    margin: 0 10px;
  }

  main {
    padding: 10px;
  }

  h1 {
    font-size: 36px;
  }

  #welcome-section > p {
    font-size: 16px;
    position: static;
    margin-top: 10px;
  }

  .projects-grid {
    grid-template-columns: 1fr; 
    gap: 10px;
    padding: 0;
  }

  .project-tile {
    height: auto; 
    width: 100%;
    margin: 10px 0;
  }

  .project-tile img {
    height: 60%; 
  }

  .project-tile p {
    font-size: 16px;
    top: auto; 
  }

  #contact_links a {
    font-size: 16px;
  }

  footer {
    padding: 10px;
  }
}