body{
    background-color: rgb(30,20,50);
    color: rgb(190,190,190);
    font-family: Lato, serif;
    font-size: 20;
    text-align: center;
  }
  
  form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  
  fieldset{
    border: none;
  }
  
  input[type="text"],input[type="email"],input[type="number"],textarea{
    background-color: rgb(50,40,70);
    width: 100%;
    max-width: 600px;
    color: rgb(190,190,190);
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #666;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
  }
  
  input, textarea{
    display: block;
  }
  
  input[type="radio"],input[type="checkbox"]{
    display:inline-flex;
    align-items: center;
    margin-right: 5px;
  }
  
  h1,p{
    text-align: center;
  }
  
  button{
    display: block;
    background-color: rgb(190,190,190);
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
  }
  
  button:hover{
    background-color: #6a0dad;
  }
  