body {
    background-color: #121212;
    color: #d4d4d4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #tooltip {
    position: absolute; 
    visibility: hidden; 
    background-color: rgba(0,0,0,0.7); 
    color: white; 
    padding: 5px; 
    border-radius: 5px;
    pointer-events: none;
  }
  
  #legend {
    position: absolute;
    top: 20px;
    right: 20px;
}