*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #0d1117;
    color: #ffffff;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
  }
  
  #instructions{
    text-align: center;
    padding: 20vh;
    color: yellow;
  }
  
  #input-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #result-container{
    margin: 10px;
    border: solid;
    border-color: yellow;
    border-radius: 8px;
    background-color: #0A1128;
  }
  p{
    text-align: center;
    padding: 10px;
  }
  
  button{
    margin: 10px;
    width: 70px;
    height: 20px;
    background: #0A1128;
    cursor: pointer;
    color: yellow;
  }
  
  button:hover{
    border: solid;
    border-color: yellow;
    border-radius: 3px;
  }
  