*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #1a1b2f;
    color: white;
  }
  #title{
    text-align: center;
    border-bottom: solid;
    border-radius: 5px;
    border-color: yellow;
    padding-bottom: 20px;
    background: black;
    color: yellow;
    font-size: 50px;
  }
  
  #container{
    display: grid;
    padding: 5px;
    padding-top: 200px;
    margin: 20px;
    justify-content: center;
  }
  
  #form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #number{
    padding: 5px;
    margin: 2px;
    width: 300px;
    border-radius: 5px;
    background: black;
    border:solid;
    border-color: gray;
    color: white;
  }
  
  #convert-btn{
    margin: 5px;
    width: 100px;
    height: 40px;
    background: black;
    border-radius: 5px;
    border: solid;
    border-width: 3px;
    border-color: gray;
    color: white;
  }
  
  #output{
    margin-top: 35px;
    font-size: 30px;
  }
  
  #convert-btn:hover{
    border-color: yellow;
  }
  
  #number:hover{
    border-color:yellow;
  }
  
  @media (max-width: 600px) {
    body {
      padding: 20px;
    }
  
    #title {
      font-size: 40px;
      padding-bottom: 15px;
    }
  
    #container {
      padding-top: 100px;
    }
  
    #number {
      width: 100%;
    }
  
    #convert-btn {
      width: 80%;
    }
  
    #output {
      font-size: 25px;
      text-align: center;
    }
  }
  